.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.522)),
    url(../img/u185758.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero-title {
    color: #ffffff;
  }
  .text {
    font-size: 20px;
    text-align: center;
    max-width: 700px;
    color: rgb(240, 240, 240);
  }
}
.about-block {
  padding: 100px 0;
  background: #ffffff;
  .container {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }
  }
  .hero-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 0 auto;
  }
  .hero-title {
    text-align: left;
  }
  .text {
    color: #3b3b3b;
  }
  .hero-info {
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #ffffff;
  }
  .hero-form {
    max-width: 500px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.374);
  }
}
.mission {
  background-color: var(--background-accent);

  .container {
  }
  .mision-list {
    display: flex;
    gap: 16px;
    li {
      background-color: #ffffff;
      padding: 16px;
      border-radius: 12px;
      h3 {
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      p {
        color: #767676;
      }
    }
  }
}
