/* Слайдер */
.slick-slider {
  position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
.reviews-slider .slick-track {
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

/*---------------------------------NEWS---------------------------------------*/

.news-slider {
}
.news-item {
  margin: 0 5px;
  background: #202020;
  border-radius: 12px;
  padding: 17px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  max-width: 326px;
  min-width: 300px;
}
.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 12px;
  width: fit-content;
}
.rest {
  background: #f2994a;
}
.news-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.news-previw {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.offer {
  background: #ff4136;
}
.newslabe {
  background: #2f80ed;
}
